*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 ,p{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
}

main .main-block{ 
    width: 60%;
    margin: 0 uto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

main .main-block .left{ 
    background-image: url(./img/white.png);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .5s ease;
}

main .main-block .right{
    width: 100%;
    display: flex;
    gap: 40px;

}

main .right .blue{
    color: rgba(0, 113, 227, 1);
    font-size: 24px;
    font-weight: 700;
}

main .right .model h2, .price{
    font-size: 48px;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    line-height: auto;
}

main .bottom{
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .bottom .btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.btns button{
    all: unset;
    padding: 10px 30px;
    background-color: rgba(207,231,255, 1);
    border-radius: 10px;
    color: rgba(121, 121, 121, 1);
}

.btns .active-btn{
    background-color: rgba(0, 113, 227, 1);
    color: #fff;
}

.memory{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100% ;
}

.memory .item{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(207,231,255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.memory .item-active{
    border: 2px solid rgba(0, 127, 255, 1) ;
}